<div class="modal-header">
    <h4 class="modal-title">{{modal.title}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="setForm">
        <div class="form-group">
            <label for="wxNickName" class="col-sm-4 control-label">微信昵称</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm"
                        name="wxNickName" id="wxNickName"
                        placeholder="微信昵称"
                        ng-model="modal.data.wxNickName"
                        ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-4 control-label">备注</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm"
                        name="description" id="description"
                        placeholder="备注"
                        ng-model="modal.data.description"
                        ng-maxlength="32">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="bankerUsername" class="col-sm-4 control-label">上庄用户名</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm"
                        name="bankerUsername" id="bankerUsername"
                        placeholder="上庄用户名"
                        ng-model="modal.data.bankerUsername"
                        ng-maxlength="32"
                        required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="bankerPassword" class="col-sm-4 control-label">上庄密码</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm"
                        name="bankerPassword" id="bankerPassword"
                        placeholder="上庄密码"
                        ng-model="modal.data.bankerPassword"
                        ng-maxlength="32"
                        required>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok()"
        ng-disabled="setForm.$pristine || (setForm.$dirty && setForm.$invalid)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
